body {
  /* font-size: 1.5rem;
  max-width: 95%;
  margin: 0px; */
}

h1 {
  /* font-size: 2rem; */
}

h2 {
}

img {
  max-width: 100%;
  /* margin-top: 35px; */
}

figure {
  margin: 0;
}

/* Primeiro breakpoint = width:460 */
